<template name="footer">
<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
<!--footer start from here-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <h2> About Project Sarai</h2>
        <p>Project SARAI aims to develop a national crop forecasting and monitoring system for first six priority crops: rice, corn, banana, coconut, coffee, cacao</p>
        <p><i class="fa fa-map-pin"></i> SESAM UPLB, College, Laguna Philippines 4031</p>
        <p><i class="fa fa-phone"></i> Phone : +63 (049) 536 3080, 2836</p>
        <p><i class="fa fa-envelope"></i> E-mail : sarai@uplb.edu.ph</p>
        
      </div>
      

      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <div class="fb-page" data-href="https://web.facebook.com/projectsarai/?_rdr" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://web.facebook.com/projectsarai/?_rdr"><a href="https://web.facebook.com/projectsarai/?_rdr">Facebook</a></blockquote>
          </div>
        </div>
      </div>

        <div class="col-md-4 col-sm-6 paddingtop-bottom">
        <div class="fb-page" data-href="https://twitter.com/ProjectSARAI" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://twitter.com/ProjectSARAIr"><a href="https://twitter.com/ProjectSARAI">Twitter</a></blockquote>
          </div>
        </div>
      </div>

       <div class="col-md-4 col-sm-6 paddingtop-bottom">
        <div class="fb-page" data-href="https://www.youtube.com/channel/UCJtzNfVmoqFZGCF326VaTZw" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.youtube.com/channel/UCJtzNfVmoqFZGCF326VaTZw"><a href="https://www.youtube.com/channel/UCJtzNfVmoqFZGCF326VaTZw">Youtube</a></blockquote>
          </div>
        </div>
      </div>

    </div>
  </div>
</footer>
<!--footer start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2016 - 2017 Project Sarai</p>
    </div>
    
  </div>
</div>
</template>